body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background-color: black;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
}

.frontofbook,
.book-cover {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

@font-face {
    font-family: 'Gothicfed';
    src: url('fonts/Gothicfed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.title {
    font-family: 'Gothicfed', serif;
    font-size: 40px;
    color: #947959;
    letter-spacing: 9px;
    text-transform: uppercase;
    text-shadow: 0 0 15px rgba(52, 17, 17, 0.8);
}

.title-container {
    position: absolute;
    top: 100px;
    left: 55%;
    transform: translateX(-50%);
    text-align: center;
}

.key-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.key-container img {
    max-width: 150px;
}

.castle {
    position: relative;
    width: 1000px;
    height: 600px;
    margin: 0 auto;
}

.moon {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 150px;
}

.bats {
    position: absolute;
    top: 250px;
    left: 50px;
    width: 200px;
    transition: transform 0.3s ease;
    animation: none;
}

.bats:hover {
    animation: flap 0.6s infinite alternate ease-in-out;
    transform: scale(1.4);
}

.castle-img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 150px;
}


